:root{
  --border-radius: 8px;
  --main-background-color: hsl(222, 26%, 31%);
  --keypad-background-color: hsl(223, 31%, 20%);
  --screen-background-color: hsl(224, 36%, 15%);
  --del-reset-key-bg-color: hsl(225, 21%, 49%);
  --del-reset-key-bg-color-hover: hsl(224, 76%, 80%);
  --del-reset-key-shadow-color: hsl(224, 28%, 35%);
  --equal-key-bg-color: hsl(6, 63%, 50%);
  --equal-key-bg-color-hover: hsl(6, 99%, 67%);
  --equal-key-shadow-color: hsl(6, 70%, 34%);
  --key-bg-color: hsl(30, 25%, 89%);
  --key-bg-color-hover: hsl(0, 0%, 100%);
  --key-shadow-color: hsl(28, 16%, 65%);
  --text-color: hsl(0, 0%, 100%);
  --text-color-num: hsl(221, 14%, 31%);
  --text-color-prev-op: #ccc;
  --text-color-equal-btn: hsl(0, 0%, 100%);

}


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  background-color: var(--main-background-color);
  font-family: 'League Spartan', sans-serif;

}

.main-container{
  width: 90%;
  max-width: 45rem;
  padding: 4rem;

}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  position: relative;
}

.theme-number{
  position: absolute;
  width: 4rem;
  top: -1.1rem;
  right: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.theme-number span{
  font-weight: 600;
  color: var(--text-color);
}

.text{
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0.6rem;
}

.theme{
  display: flex;
  width: 11rem;
  justify-content: space-between;
  align-items: center;

}

.theme span{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 1rem;
}

.theme-toggle{
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 2rem;
  background-color: var(--keypad-background-color);
  border-radius: 1.5rem;
}

.toggles{
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  position: relative;
}

.active{
  opacity: 1;
  background-color: var(--equal-key-bg-color);
}

.active:hover{
  background-color: var(--equal-key-bg-color-hover);
}

.display{
  width: 100%;
  min-height: 11rem;
  background-color: var(--screen-background-color);
  border-radius: var(--border-radius);
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1rem;
  font-size: 3rem;
  color: var(--text-color);
  font-weight: bold;
  word-break: break-all; */
  margin-bottom: 1.2rem;
}

.prev{
  color: var(--text-color-prev-op);
  font-size: 2.2rem;
}

.functional-content{
  display: grid; 
  grid-template-columns: auto auto auto auto;
  gap: 1.8rem;
  padding: 2rem;
  background-color: var(--keypad-background-color);
  border-radius: var(--border-radius);
}

.func-box{
  background-color: var(--key-bg-color);
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  box-shadow: 0 2.5px var(--key-shadow-color);
  font-family: inherit;
  text-align: center;
  padding: 1rem 0;
}

.func-box:hover{
  cursor: pointer;
  background-color: var(--key-bg-color-hover);
}

.func-box span {
  font-weight: bold;
  font-size: 2.8rem;
  color: var(--text-color-num);

}

.botton{
  cursor: pointer;
  font-family: inherit;;
  color: #fff;
  border-radius: var(--border-radius);
  border: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 0;
}

.rst-botton, .eql-botton{
  grid-column: span 2;
}

.rst-botton, .del-botton{
  background-color: var(--del-reset-key-bg-color);
  box-shadow: 0 2.5px var(--del-reset-key-shadow-color);
}

.rst-botton:hover, .del-botton:hover{
  background-color: var(--del-reset-key-bg-color-hover);
  
}

.eql-botton{
  background-color: var(--equal-key-bg-color);
  box-shadow: 0 2.5px var(--equal-key-shadow-color);
  color: var(--text-color-equal-btn);
}

@media (max-width: 600px) {

  html{
    font-size: 56.25%;
  }

  .main-container{
    width: 100%;
    padding: 4rem 3rem;
  }

  .functional-content{
    gap: 1.8rem 1.2rem;
  }

  .func-box{
    padding: 1.6rem 0rem;
    border-radius: 5px;
  }

}






